[2017-08-12 12:03] Vesuvium opened #1 "Add a tox.ini file"
Add a tox.ini file so that test environments can be shared and launched easily from locale machines or from CI

[2017-08-12 12:21] Vesuvium opened #2 "The benchmarks should be only about HTML generation and writing"
Having benchmarks is great, but the current ones are not useful. TemPy is a templating engine, so what matters is how fast can TemPy generate and write html.
With wrk + flask you are accounting also for requests and flask performance.

Why this? Because the likely use of TemPy is either in applications generating HTML once (static website generators, for example) or applications that generate HTML

[2017-08-12 12:24] Vesuvium opened #3 "Add some CI"
Since you plan on having collaborators, there should be some CI that automatically runs tests on PRs :)

Travis is good, there are a lot of other options too

[2017-08-12 12:28] Vesuvium opened #4 "Run the benchmarks in the cloud"
Again on the benchmarks! Your machine may have other stuff running; to obtain more reliable benchmarks run them in the cloud. Particulary, if you use wrk, it should be on a separate machine.

[2017-08-12 12:29] Vesuvium opened #5 "Add a setup.py"
Release early, release frequently :)

[2017-08-12 13:37] Hrabal commented on #2
I added benchmarks to compare TemPy to others templating engines (specifically Jinja2), and it seems that Flask (the one I always used) do some kind of work when rendering a Jinja2 template, so I decided to make a common small server for comparison so the other code is the same.

You think I can just measure
[code]
vs
[code]
?

[2017-08-13 05:47] Hrabal commented on #5
added

[2017-08-13 05:47] #5 closed

[2017-08-13 06:06] Hrabal commented on #1
Never used tox before, I made a simple tox.ini that runs unittest and added all the py3*.

[2017-08-13 06:06] #1 closed

[2017-08-13 07:25] Hrabal commented on #3
Using Travis now,thanks!

[2017-08-13 07:25] #3 closed

[2017-08-14 10:08] Vesuvium commented on #2
Yes, that's what I meant

[2017-08-19 09:16] Hrabal commented on #2
Added benchmarks for template rendering only (no web serving):
https://github.com/Hrabal/TemPy/commit/4538cb6f15613c1ef34b97f3d8332ca60b13f4ab

[2017-08-19 09:16] #2 closed

[2017-08-25 17:15] Hrabal opened #7 "Test ticket from Code Climate"

[2017-08-25 17:16] Hrabal opened #8 "Fix "TODO" issue in tempy/widgets.py"
TODO found

https://codeclimate.com/github/Hrabal/TemPy/tempy/widgets.py#issue_59a0588692503c0001000032

[2017-08-25 17:17] Hrabal opened #9 "TODO: Wrapping into multiple containers"
`DOMElement.wrap` now accepts a single `DOMElement` instance and wraps `self` into this other instance.

Method signature should change to accept a iterable as first argument or multiple (single or iterable) arguments. `self` (copies of) will be wrapped inside each given element, i.e:

    some_divs = [Div() for _ in range(10)]
    to_be_wrapped = Span()
    to_be_wrapped.wrap(some_divs, P(), A(),

[2017-08-25 17:17] Hrabal opened #10 "TODO: Add tag named containers"
`DOMElement` class should be able to accept element insertion using the following syntax:

    DOMElementInstance()(things=[Div(), 'stings', 123, foo, (Div() for _ in range(10))])

`things` will become an attribute of `DOMElementInstance`, when called it will return the provided iterable. The iterable should be inserted in the parent element as always.

Implementation idea:

- create a new kind of

[2017-08-26 14:14] #7 closed

[2017-10-14 06:23] Hrabal opened #11 "TODO: Implement tree traversing api."
Implement a traversal method(s) to provide depth-first and breadth-first traversing paths on the tree starting from a chosen node:

    # Given this graph/tree:
    a = Div()
    b = Div()
    c = Span()
    d = Div()
    a(b(d), c)

    a -|

    a.dft(order=tempy.PREORDER)

    a.dft(order=tempy.INORDER)

    a.dft(order=tempy.POSTORDER)

    a.bft()

Resources:

- [Math theory](https://jeremyku

[2017-10-14 06:25] Hrabal opened #12 "FIX: TempyTable populate refactor."
`TempyTable.populate` have weird behaviours, it should be refactored ("there must be a better way!").

[2017-10-14 06:28] Hrabal opened #13 "PrettyPrinting refactor"
Currently implemented pretty printing is bad, really bad.

`.render(pretty=True)` should produce an indented html string,, no idea if there is a standard for that.

[2017-10-14 06:30] Hrabal opened #14 "ALWAYS OPEN: tests"
Write more tests cases.
This issue will always be open and pretty much every pr related to that will be merged.

[2017-10-14 06:33] Hrabal opened #15 "ALWAYS OPEN: docstring correction and enanchemnt."
Not a native english speaker so I'm sure my docstrings are not correct nor clear.

[2017-10-14 06:35] Hrabal opened #16 "ALWAYS OPEN: documentation."
Any contribution to this project documentation is welcomed.
Please read [the docs](https://hrabal.github.io/TemPy/), if you find typos errors (i'm not native speaker) please commit on the gh-pages branch of this [repo](https://github.com/Hrabal/TemPy/tree/gh-pages) and correct me/add new docs, then make a pull request.

[2017-10-14 06:40] Hrabal opened #17 "ALWAYS OPEN: add examples."
Add Tempy usage examples in the examples directory.

Ideally examples will contain a file for every TemPy usage and feature, plus a complete flask/weppy/whatever webapp made using TemPy.

[2017-10-14 07:18] Hrabal opened #18 "Refactor: _stable attribute"
Refactor of the `Tag._stable` concept and attribute.
The attribute is used to check if a node content is stable since last rendering (stored in `_render`) so instead of a new (expensive) formatting the the stored `_render` is returned when rendering.

[2017-10-14 08:17] Hrabal opened #19 ".pop method should accepts named attributes."
DOMElement.pop() method should accepts strings (or iterators of strings) as args.
If a string or an iterator of strings is provided, pop will perform removal of those named childs.
If no child with that name is found, and exception is raised.

    a = Div()(foo=Div(), this=A(href='/this')('This'), bar=Div())
    a.pop('this')

In this example `a.childs` should return `foo` and `bar`, `this` is rem

[2017-10-16 12:26] antoniomdk commented on #19
Hey, I would like to work on this.

[2017-10-16 13:21] Hrabal commented on #19
hey @antoniomdk, thanks for your help!
I added you to the collaborators so I can assign you this issue, you should've got a mail from GitHub to confirm.

Here for any question!

[2017-10-16 14:21] antoniomdk commented on #19
Confirmed. Please, invite me to the slack channel. Thanks!

[2017-10-16 15:41] antoniomdk commented on #19
Hey, What kind of Exception should the method throw? and the parameter idx is still used?

[2017-10-16 16:44] Hrabal commented on #19
That's what I was thinking:
* a subclass of `TagError` and `KeyError` when popping a named attribute, a subclass of `TagError` and `IndexError` when popping by index.
* I'd replace idx with args, maintaining the fallback that if pop is called with no parameters the last child is popped.
* by design every DOM manipulation method should return either the DOMElement itself or
 the resulting DOMElemen

[2017-10-17 13:02] #19 closed

[2017-10-17 15:07] Hrabal opened #21 "Make new module tempy.places, contanining TempyREPR subclasses to provide more flexibility in TEMPYRrepr usage"
Ideal usage:

    from tempy.tag import *
    from tempy.places import InsideTd, InsideA, InsideDiv

    class CustomModel:
        a = 'foo'
        b = 'bar'

        class Div(InsideTd):
            def repr(self):
                self(
                    Div()(self.foo),
                    Div()(self.bar),
                    Img(src='icon.gif')
                )
        class Div2(InsideA):

[2017-10-18 08:37] antoniomdk commented on #11
For inorder traversal, what should I take as left and right children?

[2017-10-18 09:53] Hrabal commented on #11
I'd follow self.childs order. First added children (0 index) will be left-most, last added children (-1 index) will be right-most.
In this way, depth-first will always start traversal from the top of the DOM.

It would be nice to have a parameter for that. Default can be traversing the DOM top->down, `reverse` parameter make traversing go down-top.

[2017-10-18 12:44] antoniomdk commented on #11
But when an object has more than two children should I split the list in two parts? o take the first as left child and the rest of the list as right children?

[2017-10-18 14:12] Hrabal commented on #11
Oh now I see what you mean.
The most common python graph module, network-x, [does not](https://networkx.github.io/documentation/networkx-1.10/reference/algorithms.traversal.html) implement Depth-First In-order algorithm, and I guess it's because there is no right answer to your question. The [algorithm](http://www.ics.uci.edu/~eppstein/PADS/DFS.py) network-x is based on does not either.

I'd say t

[2017-10-18 14:23] antoniomdk commented on #11
I've already implemented it. Assuming first child is left and the rest is right. Should I remove that part?

[2017-10-18 17:41] Hrabal commented on #11
I'll check if there is a standard on this when a node have more than 2 children. Since after the first child the father is visited again for the first time, that seems the most reasonable solution.

Anyway usually depth-first is used in pre and post order so I merged your commits and opened another issue for the future.

Thanks!

[2017-10-18 17:41] #11 closed

[2017-10-24 16:49] antoniomdk opened #25 "Use metaprogramming to generate any tag."
I would be nice to use metaprogramming for generate any tag name without type it explicitly. I've found an example in Ruby, but I suppose it's applicable in python.
https://www.leighhalliday.com/creating-ruby-dsl

[2017-10-25 07:06] Hrabal commented on #25
You mean to replicate this syntax?
[code]
or you mean to remove tags.py and dynamically generate them?

[2017-10-25 12:12] antoniomdk commented on #25
I mean generate the content of tags.py dynamically but the same syntax of Div(Div()...
Not only for known tags but also for custom tags.

[2017-10-25 12:57] Hrabal commented on #25
I don't think it's possible to do something like this for it will always raise a NameError.
[code]

One Idea would be to make a god object (like javascript's "$") that behaves as a class factory, so  it's possible to do something like:

[code]
This is not hard to implement.

[2017-10-25 13:37] antoniomdk commented on #25
Yes, If the class is not declared it will raise the error. But the second option could be great to implement. In the receiver of "missing methods" the new class content is the lowercase name. And it inherits from Tag.

[2017-10-25 14:09] Hrabal commented on #25
Uhm yeah it can be useful. It's certainly easier to use custom tags with no special methods/properties/behaviors this way, and not define a class for a maybe one-time only custom tag.

I'll add that in the todo list.

[2017-10-25 15:25] Hrabal opened #26 "Implement "T" god object. Call for features."
The T god object will be/it's been implemented in the [T_god_object branch](https://github.com/Hrabal/TemPy/tree/T_god_object), this issue is supposed to be a bin for methods to add to the T god object:
My ideas:

* `T.find('css selector', tempy_tree_instance)` returns the selected tempy tag or a list of tempy tags
* `T.from_string('<div><a href='www.bestsitever.com'></a></div>')` parses the strin

[2017-10-25 15:26] Hrabal commented on #25
I created [this issue](https://github.com/Hrabal/TemPy/issues/26) as a container of other god-object moethods Ideas.

[2017-10-27 09:31] thakkardharmik commented on #13
@Hrabal I would like to give it a try. Please guide me on how can I contribute to the project.

[2017-10-27 10:07] Hrabal commented on #13
Hi @thakkardharmik , I added you as collaborator.
This issue is basically a refactor of the pretty printing mechanism in the `.render()` methods in the `Content` and `Tag` classes.
I implemented it when those methods where recursive, but now they aren't so it doesn't work anymore.

When the pretty param is True, every closing tag should be followed by a newline, and every opening tag should be pre

[2017-10-28 07:09] Hrabal commented on #25
I implemented in a [separate branch](https://github.com/Hrabal/TemPy/tree/T_god_object) a T object that works as a Tempy class factory. I also added a T.Void subclass to build void Tempy tags.

Before merging in master I'd like to add more features to the T objects. Other T object ides will be discussede in the [other issue](https://github.com/Hrabal/TemPy/issues/26), I'll close this one .

[2017-10-28 07:09] #25 closed

[2017-10-29 07:45] Hrabal commented on #21
Implemented with commits from [e7abc4b714c16dc4a2a5395cf42d5733010e086c](https://github.com/Hrabal/TemPy/commit/e7abc4b714c16dc4a2a5395cf42d5733010e086c) to [4d04da557baae9914421d7c08cc8e0854237dff3](https://github.com/Hrabal/TemPy/commit/4d04da557baae9914421d7c08cc8e0854237dff3)

[2017-10-29 07:45] #21 closed

[2017-10-30 16:05] Hrabal commented on #26
Implemented in [PR 27](https://github.com/Hrabal/TemPy/pull/27). Merged.

Implemented T as a tag factory and T.from_string as an html parser/Tempy tree builder

[2017-10-30 16:05] #26 closed

[2017-10-30 19:47] Hrabal opened #28 "Pretty printing in to_code methods."
I recently added to_code methods in DOMElement and TagAttrs classes.
It' would be nice to add a "pretty" argument to generate (valid) indented python code.

[2017-10-31 13:05] #28 closed

[2017-10-31 15:04] #13 closed

[2017-11-01 14:52] #10 closed

[2017-11-01 14:53] #18 closed

[2017-11-05 14:36] #12 closed

[2017-11-09 01:15] tirthparikh commented on #15
Hi @Hrabal , This is my first time attempting to OS contribution. While I was reading the documentation, I found some errors to start with. I need your help in starting and understanding this project. I am also a python enthusiasts, but I like to start with the documentation first and then move on to the core project development. Thanks!

[2017-11-09 16:00] Hrabal commented on #15
Hi @tirthparikh, thanks for helping out!
First of all, do you mean the full documentation @ [hrabal.github.io/TemPy-docs](hrabal.github.io/TemPy-docs)? If so, please fork, commit and make a pull request in this repository: [https://github.com/Hrabal/TemPy-docs](https://github.com/Hrabal/TemPy-docs).

Let me know every question you have, here, in the [Slack](https://tempy-dev.slack.com/) account (j

[2017-11-10 00:08] tirthparikh commented on #15
Thanks for getting back! Yes, I was talking about https://github.com/Hrabal/TemPy-docs, I will fork the commit and make a pull request.

I would be glad to join you on Slack, can you send me an invitation to parikht13 @ gmail . com

[2017-11-20 10:31] amathael commented on #9
I'm new to GitHub really, so maybe if it is `up-for-grab`, can I try to work on it?

[2017-11-20 11:19] Hrabal commented on #9
Hi @amathael , yeah this issue is not difficult to solve.

The method that should be changed is `tempy.DOMElemet.wrap()`, it now accepts only 1 argument, it should accept a variable number of arguments (see [here if you never used argument unpacking](https://docs.python.org/dev/tutorial/controlflow.html#arbitrary-argument-lists) ) check that every argument is a `tempy.DOMElement` instance and appl

[2017-11-20 13:00] amathael commented on #9
Great, thank you!

[2017-11-21 17:52] amathael commented on #9
And into which branch should I commit my changes? I need to make a commit and push before creating a Pull Request, right? Or it's easier than I think? :\

[2017-11-21 18:25] Hrabal commented on #9
If you fork the repository you'll have a github.com/amathael/TemPy repository and you can commit/push your changes into the master branch of your fork.

Later, when finished, you have to make a Pull Request starting from the master branch of your repo to the master branch of the main repo.

[2017-11-22 19:23] #9 closed

[2017-11-22 19:28] Hrabal commented on #8
No, free to pick up

[2017-11-22 19:34] antoniomdk commented on #8
<dfn> needs to be supported?

[2017-11-22 20:06] Hrabal commented on #8
You mean inside the dt tag? I guess it's not a priority but It would be nice

[2017-11-22 22:50] antoniomdk commented on #8
I've created a pull request without that feature. I will open a new issue of that. If I get time I will work on it tomorrow.

[2017-11-29 14:22] Hrabal opened #33 "tempy.elements.Css - init should accept a dict with TemPy Tags as keys"
Now the init dict have this form:
[code]
Instead of (only) strings, the init should manage a dict with tempy.tags or tempy.widgets classes and instances as keys.

Example:
[code]
Proposed implementation:
 - the `Div` class found in the dict will be translated into the `div` tag css selector
 - the `link` instance would be translated in the most defining possible way:
   - with his id, if it have o

[2017-11-29 14:48] Hrabal opened #34 "tempy.element.Css - implementation of a update method."
The Css class accepts a style dict only during init, and can be modified only with the `Teg.attr` method which is not specialized for this class purpose.

It wold be good to have a `Css.update()` (or `Css.add_style()`.. not shure about the name) method than works as a recursive dict update method on the css properties.

[2017-11-29 14:52] Hrabal opened #35 "tempy.elements.Css - .dump() method"
Implement a `Css.dump(filename)` method that creates a .css file from what's defined in the Css instance.

[2017-12-03 06:54] haseebeqx commented on #35
hi
can i take this?

[2017-12-03 08:17] Hrabal commented on #35
Hi, sure!

[2017-12-03 10:13] #35 closed

[2017-12-05 15:25] dpalmquist84 commented on #16
Hrabal, I'd love to help you with this.

[2017-12-05 16:27] Hrabal commented on #16
Hey @dpalmquist84 , really appreciated!
As you can see my english is "almost-close-to-ok", so I really need some help on the docs. Plus, I think I take for granted some features/methods that are not so really thank you!

I switched all the docs to the gh-pages branch, so It can be published to [https://hrabal.github.io/TemPy/](https://hrabal.github.io/TemPy/) via GitHub pages.
Let me know if you n

[2017-12-05 22:01] dpalmquist84 commented on #16
Hrabal,

I'm happy to help.  I look at the readme first just to make sure it makes
sense to me.

Thanks,
David

On Tue, Dec 5, 2017 at 11:27 AM, Federico Cerchiari <
notifications@github.com> wrote:

[2017-12-09 07:41] Hrabal opened #38 "Refactor of the _stable attribute"
`tempy.DOMElement._stable` attribute is used with `tempy.DOMElement._render` to make tags rendering faster. `_render` stores the rendered string of the tag, if a tag is `_stable ==True` the `_render` is returned avoiding a new complete render of the tag.
`_stable` is True during tag creation and is set to False in some manipulating methods (basically when the tag becomes father of other things and

[2017-12-09 07:43] Hrabal opened #39 "CssManager class"
New class: CssManager (or something like that) that extracts common style properties from a formed DOM, creates the Css instance and adds it in the <head>. Extra feature: dumps the css to a versioned file in the static folder and adds a link to this file in the page.

In general, TemPy does not care much about styling, it would be nice to have a dedicated api for css.

[2017-12-09 07:51] Hrabal opened #40 "Implementation of a .find method to search for things in the tree."
It would be nice to have a `tempy.DOMElement.find()` method that traverse the tree starting from the element on which is called and accepts:

- css selectors -> and returns the matching elements
- TemPy classes -> and returns all the instances of this class
- names -> and returns all the elements that are attributes of some `DOMElement` with that name

I'm thinking a signature like this one:

[2017-12-09 08:27] Hrabal opened #41 "TempyTable widget formatting and styling api."
Right now is not easy to assign css classes and/or apply formatting to TempyTable rows and, cols. After the table creation the user if forced to manually assign classes to each row and/or cell.

For instance, if I want to use bootstrap styling on some rows of a TemPy table I'm forced to access each row and add the needed class.

If I want to add a `th` with the `scope` attribute to every row I'm f

[2017-12-16 08:58] Hrabal opened #42 "Fix TempyPage title and doctype in init"
The TempyPage widget have a `title` keyword argument that is not used, it should be used to set the page's title.

The TempyPage widget have a `doctype` keyword argument that is not used, it should be used to set the page's doctype.

[2017-12-17 12:26] adnanhb commented on #42
I would like to fix this issue. Please assign this to me.

[2017-12-17 16:39] RahulTirumalareddy commented on #40
Hi, can I be assigned to this issue? I just stumbled upon this project today, but it seems interesting so I'd like to help contribute.

[2018-01-02 00:51] kinstalinist commented on #34
Can I be assigned this issue? I was actually curious whether I'd be able to put something together so I gave it a shot and I actually have a pull request ready to submit, heh.

[2018-01-02 03:32] kinstalinist commented on #16
I definitely noticed a few little spelling and grammar errors throughout the comments and documentation. I'm pretty good at copyediting; I'd love to help! 😃

[2018-01-02 11:09] #34 closed

[2018-01-02 16:59] Hrabal opened #44 "Css class - extension of the current api"
Linked to https://github.com/Hrabal/TemPy/issues/34, it' would be good to add some extra api to the `tempy.elements.Css`.

I was thinking  of a few methods:
- `replace(element, new_style) `: searches for element in  `css_attrs` and replaces his style dict with the new_style dict (i.e: a new init)
- `clear(*elements)`: removes the style of the given elements (full depth search of the element) , if

[2018-01-21 08:41] Hrabal commented on #40
Hi @RahulTirumalareddy, are you still interested on this issue?

[2018-01-21 08:42] Hrabal commented on #42
Hey @adnanhb, are you still interested in this issue?

[2018-01-27 22:16] MegaWale commented on #42
Hey @Hrabal, noob pythonian here. i would to contribute to this project, starting with this issue. can i be assigned?? thanks

[2018-01-28 13:12] Hrabal commented on #42
Hi @MegaWale , I added you as a collaborator of this repo so you can assign this issue to yourself.
Let me know if you need help/infos on the issue or the code, I just realized the issue text is maybe a little... hem.. "concise"  😄

[2018-01-28 14:58] MegaWale commented on #42
thanks hrabel. let me get fixing then :ok_hand:

[2018-01-29 10:16] nadaj opened #49 "Fix examples import"
When checking out the examples, I found that the Import Error pops up since the import isn't valid (e.g. ImportError: cannot import name 'Html'). As shown on the website https://hrabal.github.io/TemPy/usage/, in each example it should be

 from tempy.tags import *

When I changed the imports to this line, it worked as promised. If this is the case, I would like to update the examples.

*also file

[2018-01-29 10:58] Hrabal commented on #49
Hi @nadaj , thanks for opening this. I added you as a collaborator so you can assign yourself this issue.

The examples folder has been abandoned a while ago, I started writing examples then forgot. I'll search for the sw json file.

I've made [this](https://github.com/Hrabal/TemPy/issues/17 ) to add more examples, but it's not a very crowded issue..

[2018-01-29 14:30] nadaj commented on #41
If I understood this correctly, this would require creating a new class for Table inside tags.py?

[2018-01-29 15:11] Hrabal commented on #41
I was thinking adding those new methods to widgets.py/TempyTable class. I'd rather keep the tags base classes (in tags.py) clean.

[2018-01-29 16:29] nadaj commented on #41
I understand. I'd like to add these methods/fix this "issue".

[2018-01-29 16:55] Hrabal commented on #41
Sure!

[2018-01-31 17:30] Hrabal commented on #41
Solved with https://github.com/Hrabal/TemPy/pull/51

[2018-01-31 17:30] #41 closed

[2018-01-31 18:54] #42 closed

[2018-01-31 19:11] #4 closed

[2018-01-31 19:12] #14 closed

[2018-02-01 09:05] nadaj commented on #44
I would like to start working on this issue. My question is how to you consider this example:
[code]
I suppose that the element in the argument of the replace method is a str. If I provide as element='div', should it replace the last div. If the argument was '#id_ex div', it will replace that div inside #id_ex.

[2018-02-01 11:18] Hrabal commented on #44
This issue is related to https://github.com/Hrabal/TemPy/issues/33 and (forward-ly looking) to https://github.com/Hrabal/TemPy/issues/40 .

Looking at https://github.com/Hrabal/TemPy/issues/33 , I'd already make this issue to consider TemPy tags (classes or instances) as valid keys for the css div. So all those are valid calls: `Css().replace('div', my_style_dict})`,  `Css().replace(Div, my_style_

[2018-02-01 13:48] nadaj commented on #44
And if you were to have this case:

[code]

If I would want to change the inner Div color to grey, how would the method call for replace look like following your example of the method signature?

[2018-02-01 15:12] Hrabal commented on #44
It would be something like this:
[code]
Which is ugly and counterintuitive. Any better idea?
Maybe the key argument can be a list of keys, i.e. a path?
[code]

[2018-02-01 16:57] nadaj commented on #44
Honestly, it looks a bit simpler to have a replace method signature like this:

[code]

which puts the whole path inside the first argument as a list. My second choice would be the option you have mentioned with the key argument.

[2018-02-01 19:30] Hrabal commented on #44
Yes it makes more sense to put the where in a single argument and the what in another..

This can be the same signature for another `add` (or something like that) method.. `replace` throwing a KeyError if the path does not corresponds to an existing path,  `add` will create keys it they are non-existent..

[2018-02-02 17:35] Hrabal commented on #44
closed by https://github.com/Hrabal/TemPy/pull/52

[2018-02-02 17:35] #44 closed

[2018-02-07 14:02] nadaj commented on #40
I would like to work on this issue, can you give an example for the method calls?
My questions are:

1. For the css selectors, I thought you might think of the way it was resolved in issue #44, having them in a list. And by that did you consider searching the css attrs?
2. Are names a list of class names or classes?
3. You can pass either the css_string_or_class_name or the names?

[2018-02-07 16:19] Hrabal commented on #40
Hey, no problem, take the issue but please make a separate dev branch for that.

Answers:
- 2. `names` is a list of attribute names, this is useful only for recursive search.
- 3. Yes, my example signature is wrong but both the parameters are optional. The idea is that `css_string_or_class_name` will work as a filter on HTML-linkable attributes while `names` will work on the TemPy-ish node name at

[2018-02-07 18:28] nadaj commented on #40
So for both arguments you have to recursively search the children, not only including direct children I suppose? Like here:
[code]
This will return ```[A(), A(), A()]``` where the last ```A``` is from the last ```Div``` child?

But for the names then, shouldn't the class ```CSS``` have it's own find? Since in ```DOMElement``` the names are being searched thru the children's property ```_name```?

[2018-02-08 10:10] Hrabal commented on #40
- yes, just like javascript's css selectors.
- yes, find in `CSS` and find in `DOMElement` are two different implementations with different purposes and behaviors: `CSS.find` looks for css elements inside a "css tree", while the new `DOMElement.find` will use pseudo-css selectors and compare them to actual DOM elements.

[2018-02-19 08:02] Hrabal opened #56 ""async" keyword in Python 3.7"
In Python3.7 `async` is a keyword so using async as a variable or argument name will produce a `SyntaxError`.

With TemPy  "async" can be used as a init kwarg for the `Script` tag, for example including a Google map in a page can be written as:

    Script(async=bool, src="https://maps.googleapis.com/maps/api/js?key=<some key here>&callback=initMap", defer=bool)

`async` needs to be treated as a s

[2018-03-01 12:01] #56 closed

[2018-04-29 09:01] Hrabal opened #57 "Markdown to TemPy converter"
It would be nice to have a tool (I'm thinking something like `T.from_markdown()`) that accepts markdown text and outputs a generator of TemPy tags.

This would make easy to store dynamic content in markdown format in the db and then just load it into a TemPy container, like so (pseudo flask/SQLAlchemy code):

[code]

Internally the code above would generate this TemPy tree:
[code]

I found [the ma

[2018-05-29 18:52] Hrabal commented on #57
Started branch https://github.com/Hrabal/TemPy/tree/markdown if someone want to contribute to this issue please talk here and code in that branch.

[2018-06-03 09:01] #57 closed

[2018-06-05 15:37] #49 closed

[2018-06-09 09:32] #40 closed

[2018-06-10 12:41] Diablo2050 commented on #16
Found a grammar error and would love to help fix it.

[2018-06-11 06:57] Hrabal commented on #16
Thanks @Diablo2050

[2018-10-02 05:46] Abdur-rahmaanJ opened #60 "redo docs website"
1) the website's code snippets can be more beautiful
2) pulldown menus can be enhanced, somewhat confusing as they are now
3) an overall cleaner look needed

[2018-10-10 01:33] Chiouonthis commented on #17
Can I update the view for ```/``` so that it can link to the other examples?

As of now it simply says, ```Ready for some Tempy examples?```, but it would be nice to have links to those examples right there.

[2018-10-12 19:41] SupaFresh commented on #60
Can I work on this?

[2018-10-12 19:50] Hrabal commented on #60
Hi @SupaFresh, sure!
Feel free to change the layout/theme etc, and if you have more contents to add be my guest! ;)

Please make a dev branch out of the gh-pages branch so I can check it out locally before merge.

[2018-10-13 00:09] verascity commented on #16
Hi! I'm going through the docs now. There are a few things I plan on fixing, but I also wanted to ask about this:

Is there a reason to do it this way and not `import tempy.tags`?

[2018-10-13 07:40] Hrabal opened #66 "Cleaning up dirt in tempy.tags"
After the `from tempy.tags import *` statement the importing namespace is polluted by some internal TemPy variables that should not be used by the user:

[code]

Those 5 variables should be deleted at the end of the `tags.py` file.

[2018-10-13 07:47] Hrabal commented on #16
Hi @verascity!
The reason for the star import is to load in your module's namespace all the tags available to use,  instead the `import tempy.tags` statement will only load the "tempy" name.

If you check your `locals()` with `dir()` after the import you can see the difference:
[code]
[code]
The star import is not recommended in common Python and is seen as "not Pythonic" for it loads a lot of unu

[2018-10-13 15:08] verascity commented on #16
D'oh -- what I actually meant was why not do `from tempy import tags`. My bad. With a relatively large import, isn't there a risk of conflict with variable names and other modules with the star import?

[2018-10-14 17:54] mbuccat commented on #66
Hello!

I'd like to help with this

[2018-10-14 18:37] Hrabal commented on #16
It's not in the docs because I'm lazy ;)
If you want to change that imports in the docs thank you! Both `from tempy.tags import <explicit list of used tags>` and `from tempy import tags` are reccomended ways to use TemPy.

[2018-10-14 18:38] Hrabal commented on #66
Hi @mbuccat, thanks for helping! Just submit a PR with your changes and ff you have any question please write in this issue.

[2018-10-15 21:27] Hrabal opened #68 "Benchmark TemPy"
After [this](https://github.com/Hrabal/TemPy/commit/a7a6d638abf7c22afb824bd755dbb1efb1e246a5) commit TemPy gained a lot of speed. It wold be nice to have updated benchmarks.

Ideally:
- benchmarks are done in cloud
- TemPy is compared to more libraries
- different usages are covered

Every bench is welcome, even raw profiling data is welcome, please commit the data in the benchmark folder.

[2018-10-17 06:40] #66 closed

[2018-11-01 08:13] Hrabal commented on #60
If anyone is interested in working on this please work on the "gh-pages_REFACTOR" branch I made.

[2018-11-01 18:09] Hrabal commented on #60
Kinda solved #2, but I'm not a css ninja so if someone wants to improve the menus, be my guest.

[2018-11-14 11:32] Hrabal commented on #60
Added a tutorial, modified the menu (still, if someone can make a better css please do!).

[2018-11-14 11:32] #60 closed

[2018-11-14 18:18] Hrabal opened #73 "Add exception when inserting something in a voidtag"
Right now is possible to put objects or tags inside void tags, which is illegal in html.

This html is invalid: `<br><div></div></br>`, but TemPy let the user do the equivalent with tempy tags:  `Br()(Div())` is completely accepted.

Void tags (denoted by the `_void` class attribute set to `True`) should raise an exception if the user try to add content inside them.

[2018-12-14 00:09] kika115 commented on #73
Is this issue open??

[2018-12-14 07:34] Hrabal commented on #73
Hi @kika115 , no this is not open, I forgot to close the issue.

[2018-12-14 07:34] #73 closed

[2019-09-14 08:35] Hrabal opened #75 "implement a ".join(*args)" method"
It would be nice to have a `DOMElement.join()` method that mimics the `str.join()` method in python.

Ideally, this method would accept a list of things and returns the passed list with the chosen TemPy tag instances between the list elements just like the `str.join` method:

    Br.join(["pizza", "pasta", "lasagna"])

    Hr.join(["pizza", "pasta", "lasagna"])

    Br.join(["pizza"])

I'd make it

[2019-09-14 08:40] Hrabal opened #76 "Implement "DOMElementmap()" method"
It would be nice to have a DOMElement.map(list_of_things) method that creates a list of elements containing the passed elements in the list.

    Td.map(["pizza", "pasta", "lasagna"])

will produces the equivalent of:

    [Td()(thing) for thing in ["pizza", "pasta", "lasagna"]]

I'd make it a classmethod, so both `Td.map(["pizza", "pasta", "lasagna"])` and `Td().map(["pizza", "pasta", "lasagna"])

[2019-10-03 19:44] Navneet78 commented on #75
Hey I want to do this

[2019-10-04 06:38] Hrabal commented on #75
Hi @Navneet78 thanks for taking this. I assigned you this issue.
If you have any question just ask on this issue.

[2019-10-04 14:54] udoedo commented on #76
Hi, I would like to contribute to this issue. But, can you be more specific about what do you expect to get on the output ?

[2019-10-04 15:05] Hrabal commented on #76
Hi @udoedo, thanks for the help! I'm assigning you the issue.

I'm expecting as output a generator that yields instances (copies) of the tag on which .map is called, with already inserted in them each element of the inpust iterable.
So, given this input:

    Td.map(["pizza", "pasta", "lasagna"])

the output should be a interator of the elements of this list:

    [Td()("pizza"), Td()("pasta"), Td

[2019-10-06 08:29] Navneet78 commented on #75
Hello @Hrabal What I am working on this issue and I am creating a class method in DOMelement class. which takes a list of elements as input and return a list. And that list having consecutive previous elements and that class instance. Am I right like in above example Hr is instance of DOMelement class and it's coming between any two elements of given list. Am I right ?
And also  do I need to write

[2019-10-06 09:02] Hrabal commented on #75
Hi @Navneet78

Yes, Hr is an instance of Hr class, which is a subclass of DOMelement. The method should return an iterator containing the input iterator with instances of the called class in between each two elements. So, for exampe, calling 'join' on Hr will make Hr's and calling 'join' on Div will make Div's instances.

Yes please

[2019-10-07 14:08] Navneet78 commented on #75
hey, I have little confusion in a class method we are not passing instance of class as parameter. in classmethod we are just passing cls parameter instead of self (which points to instance of object) parameter and cls parameter which points to class not instance of class. So in order to pass instance of object to classmethod we need to specify function like this

without passing instance of class

[2019-10-07 14:55] Hrabal commented on #75
Hey,
when defining a classmethod the signature changes from "self" (which points to the instance of the class) to "cls" (usually), which is the class itself. So, to have instances we can just instantiate the cls parameter directly:

    class A:
        @classmethod
        def c_method(cls, val):
            return cls(), val

    print(A.c_method("foo"))

    print(A().c_method("foo"))

[2019-10-07 18:12] Navneet78 commented on #75
Hello, I think by using 'cls()' first you are creating a new object of class and returning it. It's not same instance as that we used to call that method. For instantiating an object we need parameters of init method and unlike 'self', cls don't have access to instance argument.

so please help !

[2019-10-08 06:46] Hrabal commented on #75
Hi,

Yes, this is ok to happen, we don't want the same instance in between the elements of the input, but several new instances of the same class.

it's ok to just init the class with no parameters ( `cls()` ).

[2019-10-08 15:10] Navneet78 commented on #76
Let's do this too.

[2019-10-08 15:15] Hrabal commented on #76
Hey @Navneet78, someone else asked to work in this issue before, so I assigned this to @udoedo.
I see he didn't fork the repo so maybe he's not working on this one... I'll wait few days and if udoedo did not confirm I'll assign this to you.

[2019-10-10 15:56] Navneet78 commented on #76
Hi @Hrabal please review #81 and close the issue

[2019-10-11 10:56] MatthijsReyers commented on #33
Hi, I'd like try to have a go at implementing this.

[2019-10-11 11:27] Hrabal commented on #33
Hi @MatthijsReyers, I assigned you the issue if you have any question just ask (I might be offline for the next few days, I'll reply as soon as I can!)

[2019-10-11 15:05] Hrabal commented on #76
@udoedo not responding, #81 merged, thanks @Navneet78

[2019-10-11 15:05] #76 closed

[2019-10-11 15:06] #75 closed

[2019-10-12 11:08] MatthijsReyers commented on #33
Hi @Hrabal, it seems that when the init dict is filled with a `Div` or other Tag class, the current code already translates this to its tag in this line in `elements.py`:
[code]
As for the behavior for instances of a Tag class, I have currently set it up in such a way that when the instance has multiple classes (and no ID obviously), the code generates a CSS selector for the element that has all o

[2019-10-17 16:08] wwintermute commented on #16
Howdy, I corrected some spelling/grammar in the README.md but now see a lot of complaints from some maintainers about 'spam' grammer corrections during this years Hacktoberfest. Since corrections were specifically asked for in this issue is [this PR](https://github.com/Hrabal/TemPy/pull/87) okay?

[2019-10-20 11:51] #33 closed

[2019-10-21 05:23] Hrabal commented on #16
Hi @wwintermute , I merged your PR.

[2019-10-21 05:23] #15 closed

[2019-10-21 05:24] Hrabal commented on #38
I did some experiments and find out that the stable attribute is not the bottelneck, so I'm closing this issue.

[2019-10-21 05:24] #38 closed

[2019-10-21 05:25] #68 closed

[2019-11-03 13:53] Purvanshsingh commented on #39
@Hrabal I would like to work on it, can you please brief me about it more?

[2019-12-29 23:53] cluelessperson opened #94 "Automatic HTML entities / escaping of strings?"
I'm trying to pass a string that contains another HTML element...

How do I get around the html string escaping?

[2019-12-30 08:34] Hrabal commented on #94
Hi,
if I get your problem right you have two ways of doing it:

1) Insert the html string in the page using the Escape object:

    from tempy.tags import Div
    from tempy import Escaped
    print(Div()(
        Escaped("<span>old HTML</span>")
    ).render())

2) Parsing the string into TemPy objects, if you need to modify the string's content:

    from tempy.tags import Div
    from tempy imp

[2019-12-30 21:00] cluelessperson commented on #94
Hi there, I discovered it was acceptable to split my string into parts.

[code]

But thank you. :)

[2019-12-30 21:00] #94 closed

[2020-01-19 15:50] mkhalid-s commented on #39
@Hrabal  My idea, To expose a new Css class. This could create a style tag (<style></style> => Internal styles ) to HTML template.
Css class could be passed with all the different styling with all the supported tag class we currently have such as "BODY" , "PARA", "HEADER", "HEAD" etc .  What do you think?

[2020-01-20 10:55] Hrabal commented on #39
Hi @mkhalid-s , can you provide a mockup example of your idea? Just a few line of code with the ipotethical CssManager api calls and the expected result?
Thank!

[2020-02-01 13:13] mkhalid-s commented on #39
@Hrabal  Sorry for taking so long was a lil busy.

Hypothetical "Sample":

Input:

[code]

Output:

[code]

[2020-02-18 10:56] Hrabal commented on #39
@mkhalid-s sorry too for late response, work is a lot lately :)

Anyway, I like that api, I'd just add an explicit method to produce the style tag, like so:

    manager = CssManager().add("body", body_dict).add("h1", h1_dict)
    manager.render()   # <- this produces the string

 Please go on and work on that if you are still interested.

My original idea was to make CssManager a bit dynamic, and

[2020-03-31 21:05] bradagy commented on #16
I'll see if I can help with correction of spelling/grammar.

[2020-07-01 00:45] codingsett opened #97 "Xss filters"
Hello, just came across this nice project and was wondering if it has inbuilt xss filters...i saw there is an an escape function but was not sure if it filters xss attacks like jinja2

[2020-08-20 09:32] Hrabal commented on #97
Hi @codingsett , sorry for late reply.
Output is produced though the `DOMElement._iter_child_renders` method, that apply Python's stdlib `html.escape` function to every encountered string. So yes, Xss is prevented by default.

The `tempy.Escaped` class can be used to explicitly bypass this behavior. This class should be used carefully for it can lead to xss injections:

[code]

[2020-08-20 15:38] #97 closed

[2020-11-18 21:04] jamiemott opened #98 "Fix PEP8 linting errors"
I am in an open source class and as part of that we had to do some testing on a repository.  This project's contributing guide states it uses PEP8/PEP20, but I found several PEP8 errors (unused variables, accessing protected variables, improper naming of variables, classes, functions, etc.).  I would like to fix those errors.  Thanks!

[2020-11-18 21:05] jamiemott commented on #98
May I please be assigned to this issue?  Thanks!

[2020-11-19 06:59] Hrabal commented on #98
Hi @jamiemott sure, any help is appreciated! I'll wait for yout PR.

[2020-11-21 08:52] Hrabal commented on #98
Fixed with PR #100

[2020-11-21 08:52] #98 closed

[2022-03-30 04:33] maalbano commented on #17
Hi ! I'd like to contribute an example using chart JS.

[2022-03-30 08:20] Hrabal commented on #17
Hi @maalbano yes thanks! Please make a pull request with your additions.

[2022-03-31 03:46] maalbano commented on #17
pull request here:  #106

[2022-07-15 15:36] #39 closed

[2022-07-15 15:37] #17 closed

[2022-07-15 15:37] #16 closed